/*estilos generales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }
  
  /*HEADER*/
  header {
    text-decoration: none;
    max-width: 1920px;
    min-width: 1220;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
  }
  header .header-menu {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  header .header-menu .logo {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .header-menu .logo a {
    text-decoration: none;
  }
  header .header-menu .logo h5 {
    color: #46a2fd;
  }
  header .nuevo-menu {
    height: 100%;
  }
  header .nuevo-menu nav {
    height: 100%;
  }
  header .nuevo-menu nav ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  header .nuevo-menu nav ul li {
    height: 100%;
    margin: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-decoration: none;
  }
  header .nuevo-menu nav ul li a {
    color: #777777;
    text-decoration: none;
  }
  header .nuevo-menu nav ul li a:hover {
    color: #46a2fd;
    transition: color 300ms;
  }
  
  /*Main*/
  div .main {
    max-width: 1920px;
    min-width: 1220;
    height: 100%;
    width: 100%;
    position: relative;
    top: 80px;
    width: 100%;
    object-fit: cover;
  }
  div .main .grid-galeria h3 {
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orange;
  }
  div .main .grid-galeria .column {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px 0 0 0;
    height: auto;
    border-radius: 10px;
    gap: 20px;
  }
  div .main .grid-galeria .column .prod img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border: black;
    box-shadow: 20px;
  }
  div .main .grid-galeria .column .prod .info-prod1 p {
    font-size: 30px;
  }
  
  .main-ayuda {
    padding: 60px 0 0 0;
  }
  
  form {

    margin: 0 auto;
    padding: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 12px;
}


  footer div {
    display: flex;
    justify-content: center;
    font-size: 40px;
    margin: 70px;
  }
  
  /*ESTILOS GLOBALES*/
  li {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
  }
  
  @media screen and (max-width: 1220px) {
    header {
      padding: 0 30px;
    }
    footer {
      padding: 0;
      margin: 0;
    }
    .contenedor-all main .grid-galeria .column .prod {
      width: 100%;
      padding-left: 15px;
      object-fit: cover;
    }
  }
  @media screen and (max-width: 1000px) {
    .contenedor-all main .grid-galeria .column {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    .all-header div nav ul {
      flex-direction: column;
      align-items: center;
    }
    .contenedor-all main .portada div .d-block-w-100 {
      height: 400px;
      width: 100%;
      object-fit: cover;
    }
    .contenedor-all main .grid-galeria .column {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      width: 600px;
      object-fit: cover;
    }
  }
  